<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
       Vue.component('todo-list',{
            props:['todo'],
            template:'<span>todo {{todo}} list</span>',
        })
    </script>
</head>

<body>
    <div id='app'>
        {{message}} <br>
        {{reverseMessage}}
        <div>
            <input type="text" v-model='message'>
        </div>
        <div v-bind:title='message'>
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </div>
        <div v-if='see'>
            显示了
        </div>

        <div>
            <ul>
               <li v-for="todo in todos">{{todo}}</li> 
            </ul>
        </div>
        <!-- <button v-on:click='reverseMessage'>reverse message</button> -->
        <hr/>
        <todo-list todo='abc'></todo-list>
    </div>
    
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello World',
                see: true,
                todos:[
                    'a',
                    'b',
                    'c'
                ]
            },
            methods:{
                
            },
            computed:{
                reverseMessage:function (){
                    return this.message.split('').reverse().join('')
                }
            }
        })

     
    </script>
</body>

</html>