<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue study</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id='app'>
    {{message}}
    <div v-if="show">
      显示元素
    </div>
    <input type="text" v-model='message'>
    <button v-on:click='clickBtn'>click btn</button>
    <ul>
        <li v-for='item in todos'>
            {{item}}
        </li>
    </ul>
    <div v-html='html'></div>
    </div>
    <script>
    var app = new Vue({
        el:'#app',
        data:{
            message:'hello world',
            show:true,
            html:'<a href=\'#\'>a标签</a>',
            todos:[
                1,2,3,4
            ]
        },
        methods:{
            clickBtn:function(){
                console.info('click btn')
            }
        }
    })
    </script>
</body>
</html>
